* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

nav {
  background-color: #78716c;
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 0.4rem;
}

.container {
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;

  padding-right: 3rem;
  height: 4rem;
  width: 100vw;
}

.library {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  
  padding-left: 4rem;
}

.shelf {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  row-gap: 4rem;
}

.book {
  height: 16rem;
  width: 12rem;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);

  padding: 1rem;
}